<a href="{{ path('admin_app_ordenprestacion_visitas_list', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Visitas'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Visitas' }}
        {#{ 'action_actividadlist'|trans({}, 'AppBundle') }#}
</a>

