<a href="{{ path('admin_app_afiliados_ordenprestacion_list', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Ordenes de Prestacion'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'OP' }}
        {#{ 'action_actividadlist'|trans({}, 'AppBundle') }#}
</a>

